<li>
    {{Articles}}
    {{#if isRead}}
    <button class="headlines" id="{{id}}" data-isRead="{{isRead}}">
        DEVOURE IT!
    </button>
    {{/if}}

        <button class="delete-article" id="{{id}}">Delete!</button>

</li>