<li>
    {{Articles}}
    {{#if isRead}}
    <button class="headlines" id="{{_id}}" data-isRead="{{isRead}}">
        DEVOURE IT!
    </button>
    {{/if}}

        <button class="delete-article" id="{{_id}}">Delete!</button>

</li>