<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mongo News Scraper</title>
    <meta charset="UTF-8">
    {{!-- <link rel="stylesheet" href="/assets/css/reset.css" type="text/css"> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>

    {{{body}}}

    <div id="news"><a href="https://www.youtube.com/watch?v=y_Sz7_7T50Q" target="_blank">About Newsies</a></div>

    <footer id="foot">
        <p>La Hora.gt Mongo Scraper</p>
        <div>Mariño Carranza 2019</div>
    </footer>

    <!-- jQuery -->
    {{!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> --}}
    <!-- Compiled and minified JavaScript -->
    {{!-- <script src="scripts/scrape.js"></script> --}}
</body>

</html>