<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {{!-- <link rel="stylesheet" href="/assets/css/reset.css" type="text/css"> --}}
            <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {{!-- <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css"/> --}}
        <title>Newsies!</title>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/app.js"></script>
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-3">Headlines don't sale papes!</h1>
            <p class="lead">Newsies sale papes</p>
            <hr class="my-2">
        </div>
        {{{body}}}

        <footer>
            <div id="foot">Mariño Carranza 2019</div>
        </footer>
    </body>
</html>