<div id="top">
    {{!-- <img src="/assets/img/hamburger.png" title="burger drawn by my daughter" alt="handrawn burger"> --}}
    <h1>Today's headlines</h1>
    {{!-- <img src="/assets/img/bebida.png" title="drink drawn by my daughter" alt="handrawn drink"> --}}
</div>

<div id="main">

    {{#each data}}

    <button class="delete-article" id="{{_id}}">Read Later!</button>
    <h3>{{title}}</h3>
    <a href=>{{link}}</a>
    {{/each}}

</div>


{{!-- <form class="create-form">

    <div class="form-group">
        <label for="bur">article Name:</label>
        <input type="text" id="bur" name="name">
    </div>

    <button type="submit" id="add-article">Read later</button>

</form> --}}