<div id="top">
    {{!-- <img src="/assets/img/hamburger.png" title="burger drawn by my daughter" alt="handrawn burger"> --}}
    <h1>Today's headlines</h1>
    {{!-- <img src="/assets/img/bebida.png" title="drink drawn by my daughter" alt="handrawn drink"> --}}
</div>

{{!-- <div id="headlines">

    <h2 id="lft-hdr"> How do these look?</h2>
    <h2 id="rgt-hdr"> These are gone!</h2>

</div> --}}

<div id="main">

    <ul id="left">
        {{#each nws}}
        <h6 Headline: >{{title}}</h6>
        <h3 Read article >{{link}}</h3>
        {{!-- {{#unless isRead}}
        {{> news/news-block isRead=true}}
        {{/unless}} --}}
        {{/each}}
    </ul>
{{!-- 
    <ul id="right">
        {{#each Article}}
        {{#if isRead}}
        {{> news/news-block isRead=false}}
        {{/if}}
        {{/each}}
    </ul> --}}

</div>

{{!-- <h4>que es esto</h4> --}}

<form class="create-form">

    <div class="form-group">
        <label for="bur">article Name:</label>
        <input type="text" id="bur" name="name">
    </div>

    <button type="submit" id="add-article">Read later</button>

</form>